# Ignore only top-level data/ and results/ folders
/data/
/results/

# Don't ignore data folders inside other folders like src/
/!src/data/

# Common ignores
.DS_Store
__pycache__/
*.pyc
*.swo
*.swp
*.tmp
**/.ipynb_checkpoints/
