# Ignore data and results folders
data/
results/

# Ignore system files
.DS_Store
*.swp
*.swo
*.tmp

# Ignore Jupyter notebook checkpoints
**/.ipynb_checkpoints/

# Ignore Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore virtual environments (if ever added)
env/
venv/
.gldas_env/
